.wrapper {
  width: 100%;
  display: flex;
  height: fit-content;
  margin-bottom: 3em;
  .title {
    font-size: 60px;
    display: flex;
    text-align: center;
    margin: 0;
    height: fit-content;
    margin-top: 1em;
    writing-mode: vertical-rl;
  }
  .content {
    border: 3px solid var(--white);
    width: 86.5%;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 0 20px var(--shadow1), 0 0 20px var(--shadow2);
    flex-direction: column;
    header {
      position: relative;
      margin: 1em 0;
      font-size: 50px;
      letter-spacing: 7px;
      text-align: center;
    }
    .contentContainer {
      display: flex;
      margin-bottom: 5em;
      .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact_form {
          position: relative;
          width: 80%;
          display: flex;
          flex-direction: column;
          & > input,
          textarea {
            background: transparent;
            padding: 15px;
            outline: none;
            border: 1px solid var(--white);
            border-bottom: none;
            color: var(--white);
            font-family: "VT323", serif;
            font-size: 18px;
            transition: 250ms;

            &:hover {
              background: var(--shadow2);
            }

            &:focus {
              background: transparent !important;
              color: #e2dedb;
            }

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus {
              -webkit-text-fill-color: var(--white);
              -webkit-box-shadow: 0 0 0px 1000px var(--dark) inset;
              // transition: background-color 5000s ease-in-out 0s;
            }
          }

          & > textarea {
            height: 150px;
            max-height: 150px;
            resize: none;
          }

          .submit {
            border: 1px solid var(--white);
          }
        }
      }
      .right {
        width: 50%;
        display: flex;
        flex-direction: column;
        & > p {
          width: 67%;
          font-size: 20px;
          margin: 0;
        }
        .link {
          .linkItem {
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 22px;
            & > span {
              margin-top: 8px;
            }
          }
        }
        .socialList {
          display: flex;
          gap: 30px;
          margin-top: 1em;
          & a {
            color: var(--white);
          }
        }
      }
    }
  }

  & svg {
    border: 1px solid var(--white);
    padding: 10px;
    border-radius: 50%;

    transition: 150ms;
    background-color: var(--dark);
    &:hover {
      color: var(--dark);
      transition: 350ms;
      background-color: var(--white);
      transform: scale(1.2);
      box-shadow: 0 0 20px var(--white);
    }
  }
}
