.wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
  padding: 10px 0;
  justify-content: center;
  gap: 55em;
  .items {
    display: flex;
    align-items: center;
    gap: 20px;
    .item {
      font-size: 16px;
      cursor: pointer;
      transition: 100ms;
      color: var(--white);
      &:hover {
        transform: translateY(-5px);
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
          0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }
  }
}
