.container {
  visibility: hidden;
  transition: 1s;
  overflow-y: hidden !important;
}
.marginTop {
  height: 60px;
}
.done {
  animation: show 1s linear;
  animation-fill-mode: forwards;
}

@keyframes show {
  60% {
    visibility: hidden;
    opacity: 1;
  }
  80% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* //990px */
